torch==2.0.1
torchvision==0.15.2
numpy==1.26.2
trimesh==3.9.14
scikit-image==0.18.1
scipy==1.11.4
matplotlib==3.8.2
tensorboardX==2.3
plotly==5.24.1
kaleido==0.2.1
open3d==0.17.0
plyfile
PyMCubes==0.1.4
psutil==6.1.1
tqdm
Pillow
